@import "tailwindcss";

:root {
  color-scheme: light dark;

  /* YouTube Brand Colors */
  --almost-black: #212121;
  --almost-white: #ffffff;
  --youtube-red: #ff0033;
}

:root[data-theme="light"] {
  color-scheme: light;
}
:root[data-theme="dark"] {
  color-scheme: dark;
}

@theme {
  --color-fg: light-dark(var(--almost-black), var(--almost-white));
  --color-bg: light-dark(var(--almost-white), var(--almost-black));
  --color-fg-inverse: light-dark(var(--almost-white), var(--almost-black));
  --color-bg-inverse: light-dark(var(--almost-black), var(--almost-white));
  --color-surface: light-dark(#ccc, #333);
}

body {
  font-family: "Google Sans", sans-serif;
  color: var(--color-fg);
  background-color: var(--color-bg);
}

@utility btn {
  @apply bg-fg/10 py-1.5 px-2.5 rounded-xl font-semibold cursor-pointer hover:bg-fg/25;
}

@utility btn-active {
  @apply bg-fg text-bg py-1.5 px-2.5 rounded-xl font-semibold cursor-pointer;
}

@utility btn-secondary {
  @apply hover:bg-fg/25 p-2 rounded-full cursor-pointer;
}

@utility btn-disabled {
  @apply hover:bg-transparent bg-transparent text-fg/25 cursor-default;
}

dialog {
  @apply rounded-2xl border-none p-0 shadow-2xl bg-bg text-fg m-auto;
}

dialog::backdrop {
  @apply bg-black/50 backdrop-blur-sm;
}
